<div class="application">
    <div class="box">
        <div class="title">
            <p>CASINO APP</p>
            <div class="header-icons">
                {{fa-icon "question-circle"}}
                {{fa-icon "times"}}
            </div>
        </div>
        <div class="selection">
            <p class="first">Games</p>
            <p>Categories</p>
            <p>Types</p>
            <p class="last">Providers</p>
        </div>
        {{outlet}}
    </div>
</div>