<div class="filters">
    <div>
        {{input type="text" value=gameName placeholder="Search" }}
    </div>
</div>
<div class="container">
    <div class="games box">
        <div class="text">
            <div>
                {{fa-icon 'circle'}}
            </div>            
            <p>BetConstruct</p>
        </div>
        <img src="http://casinosonlinereview.com/wp-content/uploads/Evolution-Gaming-Live-Dealer-Casino-Games.jpg" alt="img">
        <div class="details">
            <div class="details-text">
                <p>Name</p>
                <small>Live Dealer</small>
            </div>
            <div class="settings-icon">
                {{fa-icon 'ellipsis-v'}}
            </div>
        </div>
    </div>
</div>


{{outlet}}