html body {
    margin: 0;
    padding: 0;
}

.application {
    background-color: #dddbdb;
    font-family: Georgia, serif;
    padding: 10px;
    color: #434242;
}

.box {
    background-color: white;
    box-shadow: 1px 1px 13px 1px #cccccc;
    border-radius: 8px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 27px;
    padding: 10px;
    border-bottom: 1.5px solid #dddbdb;
}

.title>p {
    margin: 0 auto;
}

.header-icons {
    justify-items: flex-end;
}

.selection {
    display: flex;
    border-radius: 8px;
    justify-content: center;
}

.selection>p {
    padding: 5px 40px;
    border: 1px solid #dddbdb;
}

.first {
    border-radius: 8px 0px 0px 8px;
}

.first:active {
    background-color: gray;
    color: white;
}

.last {
    border-radius: 0px 8px 8px 0px;
}

.filters {
    padding: 30px;
    border-bottom: 1.5px solid #dddbdb;
    display: flex;
    justify-content: space-evenly;
}

.filter-box {
    margin: 10px;
}

.input {
    padding: 5%;
    border-radius: 5px;
    background-color: whitesmoke;
    border: 1px solid #d2d2d2;
}

.container {
    display: flex;
    background-color: whitesmoke;
    flex-wrap: wrap;
    justify-content: center;
}

.games {
    display: flex;
    flex-direction: column;
    width: 18%;
    margin: 10px;
    position: relative;
}

.games>img {
    width: 100%;
}

.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.text {
    display: flex;
    padding: 5px;
    align-items: center;
}

.details-text {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.text>p {
    margin: 8px;
}

.details-text>p {
    margin: 0;
}

.text>div {
    color: rgb(3, 219, 3);
}

small {
    color: grey;
}

.settings-icon {
    padding: 8px;
}

.setting {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    width: 22%;
    top: 70%;
    left: 1%;
}

.setting-title {
    text-align: center;
    margin: 0;
    padding: 15px;
    border-bottom: 1px solid whitesmoke;
}

.edit-setting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
    font-size: 15px;
    padding: 0 15px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social {
    position: absolute;
    z-index: 1;
    width: 22%;
    top: 70%;
    left: 2%;
}

.social-title {
    margin: 0 auto;
}

.edit-setting>label {
    align-self: flex-start;
}

.col {
    padding: 12px;
    flex-direction: column;
    align-items: stretch;
    border: none;
    margin: 0;
}

.edit-btn {
    display: flex;
    text-align: center;
    border-top: 1px solid whitesmoke;
    justify-content: space-evenly;
}

.btn {
    width: 50%;
    padding: 11px;
}

.line {
    border-right: 1px solid whitesmoke;
}