html body {
    margin: 0;
    padding: 0;
}

.application {
    background-color: #dddbdb;
    font-family: Georgia, serif;
    padding: 10px;
    color: #434242;
}

.box {
    background-color: white;
    box-shadow: 1px 1px 13px 1px #cccccc;
    border-radius: 8px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 27px;
    padding: 10px;
    border-bottom: 1.5px solid #dddbdb;
}

.title>p {
    margin: 0 auto;
}

.header-icons {
    justify-items: flex-end;
}

.selection {
    display: flex;
    border-radius: 8px;
    justify-content: center;
}

.selection a p {
    padding: 5px 40px;
    border: 1px solid #dddbdb;
    color: #434242;
}
.selection a{
  text-decoration: none;

}
.first {
    border-radius: 8px 0px 0px 8px;
    cursor: pointer;
}

.first:active {
    background-color: gray;
    color: white;
}

.last {
    border-radius: 0px 8px 8px 0px;
}

.filters {
    padding: 30px;
    border-bottom: 1.5px solid #dddbdb;
    display: flex;
    justify-content: space-evenly;
}

.filter-box {
    margin: 10px;
}

.input {
    padding: 5%;
    border-radius: 5px;
    border: 1px solid #d2d2d2;
    background-color: #dddbdb;
}

.container {
    display: flex;
    background-color: whitesmoke;
    flex-wrap: wrap;
    justify-content: center;
    max-height: calc(100vh - 250px);
    overflow: auto;
}

.games {
    display: flex;
    flex-direction: column;
    width: 18%;
    margin: 10px;
    position: relative;
}

.games>img {
    width: 100%;
}

.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.text {
    display: flex;
    padding: 5px;
    align-items: center;
}

.details-text {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.text>p {
    margin: 8px;
}

.details-text>p {
    margin: 0;
}

.text>div {
    color: rgb(3, 219, 3);
}

small {
    color: grey;
}

.settings-icon {
    padding: 8px;
    cursor: pointer;
}
.icon{
  cursor: pointer;
  
}

.setting {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    width: 300px;

}

.setting-title {
    text-align: center;
    margin: 0;
    padding: 15px;
    border-bottom: 1px solid #dddbdb;
}
.size {
  font-size: 17px;
    padding: 4% 12%;
    color: #434242;
}
.edit-setting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #dddbdb;
    border-bottom: 1px solid #dddbdb;
    font-size: 15px;
    padding: 0 15px;
    border: 8px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social {
    position: absolute;
    z-index: 1;
    width: 22%;

}

.social-title {
    margin: 0 auto;
}

.edit-setting>label {
    align-self: flex-start;
}

.col {
    padding: 12px;
    flex-direction: column;
    align-items: stretch;
    border: none;
    margin: 0;
}

.edit-btn {
    display: flex;
    text-align: center;
    border-top: 1px solid #dddbdb;
    justify-content: space-evenly;
}

.btn {
    width: 50%;
    padding: 11px;
}

.line {
    border-right: 1px solid #dddbdb;
}
.category{
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.checkbox{
  margin: 5px;
  position: relative;
  display: block;
  padding-left: 35px;
  cursor: pointer;
  /* -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; */
}
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
.checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}
.checkbox input:checked ~ .checkmark {
  background-color: grey;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkbox input:checked ~ .checkmark:after {
  display: block;
}
.checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
